{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

        button, input {
            margin-top: 20px;
        }

        .error {
            color: red;
        }

    </style>

<div class="example-wrapper">
    {% if error %}
        <span class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
    {% endif %}
    <form action="{{ path('user_login') }}" method="POST">
        <input type="text" name="_username" value="{{ lastUsername }}" class="form-control" placeholder="Username">
        <input type="password" name="_password" class="form-control" placeholder="Password">
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>
{% endblock %}
