{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

        button, .btn-warning {
            margin-top: 20px;
        }

        #user_role > label{
            padding: 10px;
        }
    </style>

<div class="example-wrapper">
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.role) }}
    {{ form_row(form.password) }}

    <button class="btn btn-primary" type="submit">Register!</button>
    {{ form_end(form) }}
</div>
{% endblock %}
