{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .col-8 {
            margin-top: 60px
        }
    </style>

    <div class="container col-8">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center" colspan="4" scope="col">Company</th>
            </tr>
            <tr>
                <th scope="col">Resume</th>
                <th scope="col">Sent at</th>
                <th scope="col">Reaction</th>
            </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <th class="text-center" colspan="4"><a href="{{ path('view_company', {'company': company.id}) }}">{{ company.title }}</a></th>
                </tr>
                {% for resume in company.resumes %}
                    <tr>
                        <td><a href="{{ path('view_resume', {'resume': resume.id}) }}">{{ resume.position }}</td>
                        <td>{{ history[company.id][resume.id].sent_at|date('Y-m-d H:i:s') }}</td>
                        <td><button type="button" class="btn-modal btn btn-primary" data-toggle="modal" value="{{ history[company.id][resume.id].id }}" data-target="#myModal">
                                {{ history[company.id][resume.id].reaction ? history[company.id][resume.id].reaction : 'Not reviewed'}}
                            </button></td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

</div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Select reaction</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="reaction-form">
                    <div class="modal-body">
                        <div id="result"></div>
                        <select class="form-control" id="reaction">
                            <option value="2">Positive</option>
                            <option value="1">Negative</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
