{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    button, .btn-warning {
        margin-top: 20px;
    }
</style>

<div class="example-wrapper">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a class="btn btn-warning" href="{{ path('employer_companies') }}">Back to list</a>
</div>

{% endblock %}

