{% extends 'base.html.twig' %}

{% block body %}
<style>
    .table {
        width: 80%;
        margin: 10px auto;
    }

    .container {
        margin: 50px 0 0 135px;
    }

    a.btn-secondary {
        margin-left: 110px;
    }
</style>
    <div class="container">
        {% for message in app.flashes('info') %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}

    <a class="btn btn-secondary" href="{{ path('create_company') }}">Create company</a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <th scope="row">{{ company.id }}</th>
                <td>{{ company.title }}</td>
                <td>{{ company.address }}</td>
                <td>
                    <a href="{{ path('view_company', {'company': company.id}) }}" class="btn btn-info">View</a>
                    <a href="{{ path('update_company', {'company': company.id}) }}" class="btn btn-primary">Update</a>
                    <a href="{{ path('delete_company', {'company': company.id}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}

