{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .container{
            margin-top: 60px;
        }
    </style>
    <div class="container">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ company.title }}</td>
            </tr>
            <tr>
                <th>Site</th>
                <td>{{ company.site }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ company.address }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ company.phone }}</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}

