{% extends 'base.html.twig' %}

{% block title %}Edit Resume{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

        button, .btn-warning {
            margin-top: 20px;
        }
    </style>
    <div class="example-wrapper">
        {{ include('resume/_form.html.twig') }}
        <a class="btn btn-warning" href="{{ path('resume_index') }}">Back to list</a>
    </div>

{% endblock %}
