{% extends 'base.html.twig' %}

{% block title %}Resume index{% endblock %}

{% block body %}
    <style>
        .table {
            width: 80%;
            margin: 10px auto;
        }

        .container {
            margin: 50px 0 0 135px;
        }
        a.btn-secondary {
            margin-left: 110px;
        }
    </style>

    <div class="container">
        <a class="btn btn-secondary" href="{{ path('create_resume') }}">Create resume</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Position</th>
                <th>Text</th>
                <th width="12%">Created at</th>
                <th width="28%">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resume in resumes %}
            <tr>
                <td>{{ resume.id }}</td>
                <td>{{ resume.position }}</td>
                <td>{{ resume.text|length > 80 ? resume.text|slice(0, 80) ~ '...' : resume.text  }}</td>
                <td>{{ resume.createdAt ? resume.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('view_resume', {'resume': resume.id}) }}" class="btn btn-info">View</a>
                    <a href="{{ path('update_resume', {'resume': resume.id}) }}" class="btn btn-primary">Update</a>
                    <a href="{{ path('delete_resume', {'resume': resume.id}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
