{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .col-8 {
            margin-top: 60px
        }
        button {
            margin-top: 30px;
        }
    </style>

    <div class="container col-8">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center" colspan="4" scope="col">Resume</th>
            </tr>
            <tr>
                <th scope="col">Company</th>
                <th scope="col">Sent at</th>
                <th scope="col">Reaction</th>
            </tr>
            </thead>
            <tbody>
            {% for resume in resumes %}
                <tr>
                    <th class="text-center" colspan="4"><a href="{{ path('view_resume', {'resume': resume.id}) }}">{{ resume.position }}</a></th>
                </tr>
                {% for company in resume.companies %}
                    <tr>
                        <td><a href="{{ path('view_company', {'company': company.id}) }}">{{ company.title }}</a></td>
                        <td>{{ history[resume.id][company.id].sent_at|date('Y-m-d H:i:s') }}</td>
                        <td>{{ history[resume.id][company.id].reaction ? history[resume.id][company.id].reaction : 'Not reviewed' }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

</div>
{% endblock %}
