{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .col-4 {
            margin-top: 60px
        }
        button {
            margin-top: 30px;
        }
    </style>
    <div class="container col-4">
    {% if resumes %}
    <p class="font-weight-bold">Select resume</p>

        <form action="{{ path('send_resume', {'company': company.id}) }}" method="POST" name="send_resume">
    <ul class="list-group list-group-flush">
        {% for resume in resumes %}
        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" name="resume[]" class="custom-control-input" value="{{ resume.id }}" id="{{ resume.id }}">
                <label class="custom-control-label" for="{{ resume.id }}">{{ resume.position }}</label>
            </div>
        </li>
        {% endfor %}
    </ul>
        <button type="submit" id="send_resume_submit" class="btn btn-primary">Submit</button>
        </form>
        {% else %}
            <p>You have applied to this vacancy by all resumes</p>
        {% endif %}
</div>
{% endblock %}
