{% extends 'base.html.twig' %}

{% block title %}Resume{% endblock %}

{% block body %}
    <style>
        .container{
            margin-top: 60px;
        }
    </style>
    <div class="container">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resume.id }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ resume.position }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ resume.text }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ resume.createdAt ? resume.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated at</th>
                <td>{{ resume.updatedAt ? resume.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
