{% extends 'base.html.twig' %}

{% block body %}
<style>
    .table {
        width: 80%;
        margin: 10px auto;
    }

    .container {
        margin: 50px 0 0 135px;
    }
</style>
    <div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <th scope="row">{{ company.id }}</th>
                <td>{{ company.title }}</td>
                <td>{{ company.address }}</td>
                <td>
                    <a href="{{ path('view_company', {'company': company.id}) }}" class="btn btn-info">View</a>
                    {% if is_granted('ROLE_WORKER')%}
                        <a href="{{ path('send_resume', {'company': company.id}) }}" class="btn btn-success">Send resume</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}

