{% extends 'base.html.twig' %}

{% block body %}
<style>
    .table {
        width: 80%;
        margin: 10px auto;
    }

    .container {
        margin: 50px 0 0 135px;
    }
</style>
    <div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Position</th>
            <th scope="col">Text</th>
            <th width="15%" scope="col">Rating</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for item in resumes %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.position }}</td>
                <td>{{ item.text|length > 80 ? item.text|slice(0, 80) ~ '...' : item.text  }}</td>
                <td> <i class="fa fa-thumbs-up"></i> {{ reactions[item.id]['positive'] }} <i class="fa fa-thumbs-down"></i> {{ reactions[item.id]['negative'] }}</td>
                <td>
                    <a href="{{ path('view_resume', {'resume': item.id}) }}" class="btn btn-info">View</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}

