<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">TestPHP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <span class="nav-item nav-link">Username: {{ app.user.username }}</span>
                    <a class="nav-item nav-link" href="{{ path('logout') }}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{{ path('user_registration') }}">Registration</a>
                    <a class="nav-item nav-link" href="{{ path('user_login') }}">Log in</a>
                {% endif %}
                {% if is_granted('ROLE_EMPLOYER') %}
                    <a class="nav-item nav-link" href="{{ path('employer_companies') }}">My companies</a>
                    <a class="nav-item nav-link" href="{{ path('bids') }}">Bids</a>
                {% elseif is_granted('ROLE_WORKER')%}
                    <a class="nav-item nav-link" href="{{ path('resume_index') }}">My resumes</a>
                    <a class="nav-item nav-link" href="{{ path('review_history') }}">Review history</a>
                {% endif %}
                <a class="nav-item nav-link" href="{{ path('list_companies') }}">All companies</a>
                <a class="nav-item nav-link" href="{{ path('list_resume') }}">All resumes</a>
                <a class="nav-item nav-link" href="{{ path('top_resume') }}">Top resumes</a>
            </div>
        </div>
    </nav>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="/js/ajax-reaction.js"></script>
        {% endblock %}
    </body>
</html>
